/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

H1,
H2,
H3,
H4,
H5,
H6 {
  font-family: "Raleway", sans-serif;
  color: #222222;
}

h2 {
  margin-bottom: 3rem;
  margin-left: 20px;
  font-size: 2.5rem;
}

.card-container {
  margin-top: 3rem;
}

#attractions-section {
  margin-top: 6.25rem;
}

/* buttons */

.btn-primary {
  color: #f8f8ff;
  background-color: #0086ff;
  border: none;
}

.show-more-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #f8f8ff;
}

#to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #f8f8ff;
  background-color: #0086ff;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  padding: 5px 15px;
}

/* Header section */

.header-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Nav section */

li a {
  padding: 10px;
  font-weight: 100;
  font-size: 20px;
  text-decoration: none;
  color: #f8f8ff;
}

.nav-item a:hover {
  color: #d0d0d5;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  color: #f8f8ff;
  border-color: #f8f8ff;
}

/* Jumbotron section */

.jumbotron-section {
  height: 80vh;
  background: url(../images/jumbo-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.jumbotron-container h1 {
  margin-top: 20px;
  padding-top: 50px;
  font-size: 60px;
}

/* 3 Topics Section */

.topics-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.topics-container h4 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topics-container img {
  padding-bottom: 0;
}

/* Map Section */

.map-container {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.map-container h2 {
  margin-left: 0;
}

.map-container p {
  padding-bottom: 2rem;
}

#search {
  margin-bottom: 2rem;
}
div#map {
  height: 60vh;
}

/* Card Styles */

.card {
  border: none;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 15px;
}

.card-title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  min-height: 48px;
}

.card-body p {
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Contact section */

.contact-container {
  margin-top: 6.25rem;
  margin-bottom: 100px;
}

.form-text h2 {
  margin-left: 0px;
}

.form-text p {
  margin-bottom: 3rem;
}

.form-control {
  margin-bottom: 1rem;
}

/* Footer section */

footer {
  margin-top: 40px;
}

.footer-container {
  background-color: #0086ff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.social-links li i {
  justify-items: center;
  color: #f8f8ff;
  font-size: 30px;
}

.footer-container p {
  color: #f8f8ff;
  text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
  .logo {
    max-width: 75%;
  }

  .nav {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
  }

  .nav-item-list {
    padding-top: 10px;
  }

  .nav-item-list li {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item-list li a {
    padding: 10px;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    color: #f8f8ff;
  }

  .jumbotron-section {
    height: 100vh;
    background: url("../images/mobile.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 20px;
  }

  .jumbotron-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 20px;
  }

  .jumbotron h1 {
    font-size: 50px;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .jumbotron-section {
    height: 80vh;
    background: url("../images/mobile.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .jumbotron-container {
    margin-right: 20px;
  }

  .jumbotron h1 {
    font-size: 50px;
    padding-top: 20px;
  }

  .card-container h2 {
    font-size: 2rem;
    padding-top: 20px;
  }

  #to-top-btn {
    bottom: 10px;
    right: 10px;
  }
}
